<input type="text" name='user-name' placeholder="username" class='input-box' id='user-name'>
<input type="password" name='password' placeholder="password" class='input-box' id = 'password'>
<button type='submit' class='button'>Submit</button>
